<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="post" action="delete_std">
            <div>
                <input type='id' name='id' placeholder="enter the id">
                <input type ="submit" value="Delete success">
            </div>
            <div>
                {{del_meassage}}
            </div>
        </body>
        </html>

