<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Django CRUD operations</h1>
        <div>
          <a href="show_form" target="_blank">Create Student</a>
        </div>

        <div>
          <a href="view_all" target="_blank">View All Students</a>
        </div>
        
        <div>
          <a href="" target="_blank">Update Student</a>
        </div>

        <div>
          <a href="Delete" target="_blank">Delete Student</a>
        </div>
        {{save_message}}
    </body>
    </html>
    